!!! 5
%html
  %head
    %title Crow
    %link{:href => "css/fonts.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/crow.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/log.css", :rel => "stylesheet", :type => "text/css"}

  %body
    .page.vsplit
       
      = partial :topbar
  
      #panels.expand
        = partial :about
        = partial :accounts
        = partial :conversations
        = partial :friends
        = partial :logs
        = partial :settings

      .footer

  / 3rd party libs
  %script{:type=>"application/x-javascript", :src => "javascript/io.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/jquery-1.7.min.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/bootstrap-dropdown.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/bootstrap-tabs.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/bootstrap-twipsy.js"}
  /util
  %script{:type=>"application/x-javascript", :src => "javascript/util.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/jquery_plugins.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/split.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/md5.js"}
  / model
  %script{:type=>"application/x-javascript", :src => "javascript/xmpp.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/models.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/roster_list.js"}

  / view
  %script{:type=>"application/x-javascript", :src => "javascript/log_widget.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/friends_list_widget.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/conversations_widget.js"}
  / controller
  %script{:type=>"application/x-javascript", :src => "javascript/crow.js"}

