%html
  %head
    %title Crow
    %link{:href => "bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "crow.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "log.css", :rel => "stylesheet", :type => "text/css"}

  %body.vsplit
    .topbar
      = partial :topbar
    #panels.container-fluid.expand
      #about.panel
        = partial :about
      #accounts.panel
        = partial :accounts
      #conversations.panel.hsplit
        = partial :conversations
      #friends.panel
        = partial :friends
      #logs.panel
        = partial :logs
      #settings.panel
        = partial :settings
    .footer

  / 3rd party libs
  %script{:src => "io.js"}
  %script{:src => "jquery-1.7.min.js"}
  %script{:src => "bootstrap-dropdown.js"}
  %script{:src => "bootstrap-tabs.js"}
  /util
  %script{:src => "javascript/util.js"}
  %script{:src => "javascript/jquery_plugins.js"}
  %script{:src => "javascript/split.js"}
  / model
  %script{:src => "javascript/models.js"}
  / view
  %script{:src => "javascript/log_widget.js"}
  %script{:src => "javascript/friends_list_widget.js"}
  %script{:src => "javascript/conversations_widget.js"}
  / controller
  %script{:src => "javascript/crow.js"}

